#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "BASE";
            bindings = <
&none  &kp Q  &kp W  &kp E  &kp R  &kp T  &kp P  &kp Z  &kp U  &kp I  &kp O  &none  &none  &kp A  &kp S  &kp D  &kp F  &kp G  &kp COMMA  &kp H  &kp J  &kp K  &kp L  &none  &none  &mt LGUI TAB  &kp Y  &kp X  &kp C  &kp V  &kp MINUS  &kp B  &kp N  &kp M  &kp PERIOD  &none  &kp LALT  &mo 1  &mt LSHIFT SPACE  &kp RCTRL  &mo 2  &kp BACKSPACE
            >;
        };

        num {
            display-name = "NUM";
            bindings = <
&none  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none  &none  &kp RA(Q)  &kp RA(P)  &kp RA(Y)  &mo 4  &kp LC(SPACE)  &kp INSERT  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &none  &none  &kp LSHFT  &none  &kp LA(SPACE)  &mo 5  &kp LS(INSERT)  &none  &none  &none  &none  &none  &none  &none  &trans  &studio_unlock  &kp RET  &mo 3  &kp LC(BACKSPACE)
            >;
        };

        sym {
            display-name = "SYM";
            bindings = <
&none  &kp PLUS  &kp DOUBLE_QUOTES  &kp ASTERISK  &kp QUESTION  &kp EXCLAMATION  &kp AMPS  &kp SLASH  &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp DELETE  &none  &none  &kp SINGLE_QUOTE  &kp GRAVE  &kp AT  &kp HASH  &kp TILDE  &kp SEMI  &kp EQUAL  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp COLON  &none  &none  &kp LEFT_SHIFT  &kp CARET  &none  &kp PERCENT  &kp PIPE  &kp UNDER  &kp DOLLAR  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &none  &kp LGUI  &mo 3  &kp ESCAPE  &none  &trans  &none
            >;
        };

        adj {
            display-name = "ADJ";
            bindings = <
&none  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &none  &none  &kp LALT  &none  &kp LCTRL  &none  &none  &kp F11  &kp LG(LEFT)  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp LG(RIGHT_ARROW)  &none  &none  &none  &none  &none  &none  &none  &kp F12  &trans  &trans  &kp K_MUTE  &trans  &none  &none  &trans  &none  &none  &trans  &none
            >;
        };

        nav {
            bindings = <
&none  &kp LA(LC(N1))  &kp LA(LC(N2))  &kp LC(LA(N3))  &kp LC(LA(N4))  &kp LC(LA(N5))  &kp LC(LA(N6))  &kp LC(LA(N7))  &kp LC(LA(N8))  &kp LC(LA(N9))  &kp LC(LA(N0))  &none  &none  &mkp RCLK  &mo 6  &mkp LCLK  &trans  &none  &kp LA(PLUS)  &kp LA(LEFT)  &kp LA(DOWN)  &kp LA(UP)  &kp LA(RIGHT)  &none  &none  &none  &mkp MCLK  &none  &none  &none  &kp LS(LA(MINUS))  &kp LS(LA(LEFT_ARROW))  &kp LA(LS(DOWN))  &kp LA(LS(UP))  &kp LA(LS(RIGHT))  &none  &none  &none  &none  &none  &none  &none
            >;

            label = "NAV";
        };

        ZMK {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &bt BT_CLR  &none  &none  &none  &none  &none  &none  &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &none  &none  &none  &none  &none  &trans  &none  &none  &none  &none  &none  &none  &none  &none  &trans  &none  &bt BT_PRV  &none  &bt BT_NXT
            >;
        };

        Scroll {
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
            >;

            label = "SCRL";
        };
    };
};
